.features {
}
.features-title {
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: 264px;
}
.features-name {
  margin-bottom: 8px;
}
.features-description {
}

.icon-container {
  width: 264px;
  background-color: #f4f4fd;
  height: 112px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-icon {
}
