.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  margin-bottom: 16px;
  display: block;
}

.footer-discription {
  color: #f4f4fd;
  width: 264px;
}

.footer {
  padding: 96px 0;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 96px 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0px;
  }
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-right: 120px; */
}
@media only screen and (min-width: 768px) {
  .footer-left {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-left {
    margin-right: 120px;
  }
}

.footer-social-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .footer-social-wrapper {
    align-items: flex-start;
  }
}

/* .social-wrapper.bottom {
  gap: 16px;
} */

.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.social-list {
  display: flex;
  gap: 16px;
}
.social-item {
}

.social-item:hover .social-link {
  background-color: #31d0aa;
}
.social-item:focus .social-link {
  background-color: #31d0aa;
}
.social-link {
}
.footer .social-link:focus {
  background-color: #31d0aa;
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  /* align-items: flex-start; */
  padding: 0 16px;
}
@media only screen and (min-width: 768px) {
  .footer .container {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
    padding: 0px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer .container {
    flex-direction: row;
    gap: 0;
    padding: 0 16px;
  }
}
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  /* margin-left: auto; */
}

@media only screen and (min-width: 768px) {
  .subscribe {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1158px) {
  .subscribe {
    margin-left: auto;
  }
}
.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  /* margin-bottom: 16px; */
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
}
.email {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #ffffff;
  width: 288px;
  height: 40px;
  padding: 8px 16px;
  background-color: inherit;
  border: 1px solid #ffffff;
  border-radius: 4px;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}
@media only screen and (min-width: 768px) {
  .email {
    width: 264px;
  }
}
.email:focus {
  border: 1px solid #31d0aa;
}

.email::placeholder {
  color: #ffffff;
}

.subscribe-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  max-width: 165px;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #31d0aa;
}
